body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

img {
    width: 100%;
}

.banner {
    width: 100%;
}

.btn-block {
    display: block;
    width: 100%;
    background-color: yellowgreen;
}

.btn-primary:hover {
    background-color: orange;
    border-width: 1px;
    border-color: orange;
}

.btn-primary {
    border-color: greenyellow;
}

.btn-schedule {
    margin-bottom: 50px;
    margin-left: 15px;
    background-color: olivedrab;
    border-width: 1px;
    border-color: olivedrab;
    font-family: 'Kreon', serif;
}

.btn-schedule:hover {
    background-color: rgb(252, 143, 0);
    border-width: 1px;
    border-color: rgb(252, 143, 0);
    ;
}

.btn-view {
    background-color: rgb(252, 143, 0);
    color: whitesmoke;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-family: 'Kreon', serif;
}

.btn-sm:hover {
    background-color: olivedrab;
    border-width: 1px;
    border-color: olivedrab;
}

.btn-delete {
    background-color: rgb(252, 143, 0);
    color: whitesmoke;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-family: 'Kreon', serif;
}

.card.body {
    background-color: green;
}

.card-text {
    text-transform: capitalize;
    font-family: 'Aclonica', sans-serif;
    color: rgb(59, 58, 58);
    font-weight: bold;
    letter-spacing: 0.03em;
}

.text-muted {
    font-family: 'Kreon', serif;
}

.mb-4 {
    margin-bottom: -2.5rem!important;
}

.form-signin,
.form-signup {
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
    width: 100%;
    display: block;
}

.form-signin .form-control,
.form-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="email"],
.form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"],
.form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup {
    display: none;
}

.logo {
    width: 300px;
}

.login-error-alert,
.signup-error-alert {
    display: none;
}

.dashboard-cooking {
    display: none;
    width: 100%;
}

.detail-recipe {
    display: none;
    width: 100%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.recipe-title {
    text-transform: capitalize;
    font-family: 'Kreon', serif;
    color: rgb(59, 58, 58);
    font-weight: bold;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.detail-recipe img {
    width: 60%;
    margin: 0 auto;
    display: block;
}

h3 {
    margin-top: 50px;
    font-family: 'Satisfy', cursive;
    color: rgb(56, 56, 56);
    font-size: 36px;
    padding-bottom: 15px;
    border-bottom: 2px solid olivedrab;
    display: inline-block;
}

.steps .field__item {
    margin-left: 30px;
}

.steps h3 {
    margin-left: 30px;
}

.field__item {
    padding-top: 20px;
    font-family: 'Kreon', serif;
}